.block {
    padding-left: 20px;
    padding-bottom: 20px;
}
pre code {
    padding: 0px;
    width: fit-content;
}
pre {
    padding: 0;
    width: fit-content;
}
.block {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.block h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.block h1:nth-child(1) { /* Title */
    margin-top: 0;
    margin-bottom: 0;
}

.flex {
    display: flex;
}
/*
.bg1 { background-color: #cdd6f4; }
.bg2 { background-color: #bac2de; }
.bg3 { background-color: #9399b2; }
*/

pre {
    padding: 15px;
}

.bar {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #2e2f46;
    width: 100%;
}

.help {
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #1e1e2e;
    padding-left: 50px;
    padding-right: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
}

a {
    color: #89dceb;
    text-decoration: underline;
}


.hidden {
    display: none;
}

.home {
    padding-bottom: 20px;
    padding-left: 20px;
}

@media screen and (max-width: 800px) {
    .bar {
        display: none;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .categories {
        display: none;
    }

    .articles-container {
        height: 95%;
    }

    .center {
        width: 100%;
    }
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("assets/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1::before { content: "# "; }
h2::before { content: "## "; }
h3::before { content: "### "; }
h4::before { content: "#### "; }
h5::before { content: "##### "; }
h6::before { content: "###### "; }